<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>vue-example</title>
</head>

<body>
    <noscript>
      <strong>We're sorry but vue-example doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app" class="app" data-divid=""></div>
    <script>
        const divid = document.getElementById('app').dataset.divid;
        if ("" !== divid) {
            document.getElementById("app").id = 'app' + divid;
        }
    </script>
    <!-- built files will be auto injected -->
</body>

</html>