.tag {
	font-weight: bold;
}

.value {
	font-style: italic;
}

#app{font-family:Avenir,Helvetica,Arial,sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-align:center;color:#2c3e50}#nav{padding:30px}#nav a{font-weight:700;color:#2c3e50}#nav a.router-link-exact-active{color:#42b983}.posts[data-v-f33d3366]{list-style:none;text-align:left}.post-item+.post-item[data-v-f33d3366]{border-top:1px solid rgba(0,0,0,.1)}

div#app {
    background-color: lightblue;
}