<template>
  <div class="done">
    <About></About>
  </div>
</template>
<script>
// @ is an alias to /src
import About from "@/components/About.vue";

export default {
  name: "about",
  components: {
    About
  }
};
</script>

<style scoped lang="scss"></style>
