<template>
  <div class="done">
    <Done></Done>
  </div>
</template>
<script>
// @ is an alias to /src
import Done from "@/components/Done.vue";

export default {
  name: "home",
  components: {
    Done
  }
};
</script>

<style scoped lang="scss"></style>
