<template>
  <div class="formexample">
    <FormExample></FormExample>
  </div>
</template>
<script>
// @ is an alias to /src
import FormExample from "@/components/FormExample.vue";

export default {
  name: "formview",
  components: {
    FormExample
  }
};
</script>

<style scoped lang="scss"></style>
