.about {
    text-align: center;
    .author {
        background-color: rgb(152, 188, 236);
        width: 80%;
        padding: 10px;
        margin-left: 10%;
    }
    .employee {
        border: 1px solid rgb(226, 235, 226);
        background-color: rgb(237, 243, 237);
        width: 80%;
        padding: 10px;
        margin-left: 10%;
    }
}