<div class="about">
    <div class="author">
        <p>Author: {{author}}</p>
        <p>Demo GmbH und OHaHa</p>
        <p>Sinse: 2008</p>
    </div>
    <br />
    <div *ngFor="let aEmployee of employees" class="currency">
        <p class="employee">
            Name: {{ aEmployee.employee_name }} | Age: {{ aEmployee.employee_age }}
        </p>
    </div>
</div>