<template>
  <v-container>
    <Button size="large" color="warning">
  {{msg}}
</Button>
  </v-container>
</template>

<script>
  import Button from '@pipiobjo/my-styleguide/src/components/Button/Button'
  export default {
   name: 'HelloWorld',
   components: {
     Button
   },
   data() {
    return { msg: 'test'}
   }
  }
</script>

<style>

</style>
