<div class="todos">
    <input id="todoInputfield" type="text" class="todo-input" placeholder="Next to do" [(ngModel)]="todoTitle" (keyup.enter)="createTodo()" />
    <div *ngIf="todos$ | async as todoList">
        <div *ngFor="let todo of todoList.todos" class="todo-wrapper">
            <div>
                <app-todo-items [todoItem]="todo"></app-todo-items>
            </div>
        </div>
    </div>
</div>