.todos {
    margin: 0 auto;
    width: 80%;
    .todo-input {
        width: 98.5%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0.5%;
        font-size: 1em;
    }
    .todo-wrapper {
        display: block;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}