.todos {
    margin: 0 auto;
    width: 80%;
    .todo-input {
        width: 98.5%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0.5%;
        font-size: 1em;
    }
    .todo-wrapper {
        display: block;
    }
}