<div class="todos">
    <div *ngIf="todos$ | async as todoList">
        <div *ngIf="todoList.todos.length > 0">
            <div *ngFor="let todo of todoList.todos" class="todo-wrapper">
                <div>
                    <app-todo-items *ngIf="todo.state" [todoItem]="todo"></app-todo-items>
                </div>
            </div>
        </div>
        <div *ngIf="todoList.todos.length === 1" class="todo-wrapper">
            <h1>there is no Todos</h1>
        </div>
    </div>
</div>