<!--<template id="user-card-template"> -->
<style>
  .card__user-card-container {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid grey;
    font-family: Helvetica;
    margin: 3px;
    width: 30%;
    background-color: #dedede;
  }

  .card__user-card-container:hover {
    box-shadow: 3px 3px 3px;
  }

  .card__hidden-content {
    display: none;
  }

  .card__details-btn {
    background-color: #dedede;
    padding: 6px;
    margin-bottom: 8px;
  }

  div {
    background-color: whitesmoke /*has no effect to the outer div */
  }
</style>
<div class="card__user-card-container>
    <h2 class=" card__name">
  <span class="card__full-name"></span> (
  <span class="card__user-name"></span>)
  </h2>
  <p>Website: <a class="card__website"></a></p>
  <div class="card__hidden-content">
    <p class="card__address"></p>
  </div>
  <button class="card__details-btn">More Details</button>
</div>

<!--</template>-->