div{
    background-color: lightsalmon /* has no effect to the inner classes*/
}

.card__details-btn {
    background-color: green;  /* has no effect to the inner classes*/
    padding: 6px;
    margin-bottom: 8px;
  }
