<template>
  <section v-if="errored">
    <p>
      We're sorry, we're not able to retrieve this information at the moment,
      please try back later
    </p>
  </section>

  <section v-else>
    <div v-if="loading">Loading...</div>
    <div v-else class="about">
      <div class="author">
        <p>Author: {{ employee.employee_name }}</p>
        <p>Demo GmbH und OHaHa</p>
        <p>Sinse: 2008</p>
      </div>
      <br />
      <div v-for="aEmployee in employees" :key="aEmployee.id" class="currency">
        <p class="employee">
          Name: {{ aEmployee.employee_name }} | Age:
          {{ aEmployee.employee_age }}
        </p>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";

export default {
  name: "About",
  data() {
    return {
      employee: {
        id: 0,
        employee_name: "Issam Lamani",
        employee_salary: 0,
        employee_age: 36,
        profile_image: ""
      },
      employees: [],
      loading: true,
      errored: false
    };
  },
  mounted() {
    this.getEmployeesAsync();
  },
  methods: {
    async getEmployeesAsync() {
      await axios({
        method: "get",
        url: "http://dummy.restapiexample.com/api/v1/employees",
        timeout: 1000 * 5, // Wait for 5 seconds
        headers: {
          "Content-Type": "application/json"
        }
      })
        .then(response => {
          this.employees = response.data;
          return this.employees;
        })
        .catch(error => {
          // eslint-disable-next-line no-console
          console.error(error);
          this.errored = true;
        })
        .finally(() => (this.loading = false));
      this.employee.employee_name = this.employees[0].employee_name;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.author {
  background-color: rgb(152, 188, 236);
  width: 80%;
  padding: 10px;
  margin-left: 10%;
}
.employee {
  border: 1px solid rgb(226, 235, 226);
  background-color: rgb(237, 243, 237);
  width: 80%;
  padding: 10px;
  margin-left: 10%;
}
</style>
