<template>
  <div v-if="todos.length > 0" class="todos">
    <div v-for="todo in todos" :key="todo.id" class="todo-wrapper">
      <TodoItems v-if="todo.state" :todoItem="todo" />
    </div>
  </div>
  <div v-else>
    <h1>there is no Todos</h1>
  </div>
</template>

<script>
// @ is an alias to /src
import TodoItems from "@/components/TodoItems.vue";

export default {
  name: "Done",
  components: {
    TodoItems
  },
  computed: {
    todos() {
      return this.$store.getters.todos;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.todos {
  margin: 0 auto;
  width: 80%;
  .todo-input {
    width: 98.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.5%;
    font-size: 1em;
  }
  .todo-wrapper {
    display: block;
  }
}
</style>
