<template>
  <section v-if="errored">
    <p>
      We're sorry, we're not able to retrieve this information at the moment,
      please try back later
    </p>
  </section>
  <section v-else>
    <div class="formexample">
      <h1 class="title">Form Example</h1>
      <form @submit.prevent="onSubmit($event)" id="exForm">
        <div class="error" v-if="errors.length">
          <b>Please correct the following error(s):</b>
          <p v-for="error in errors" :key="error.id">{{ error.message }}</p>
        </div>
        <input type="text" v-model="user.name" placeholder="Username" />
        <br />
        <input type="text" v-model="user.email" placeholder="E-Mail" />
        <br />
        <input type="text" v-model="user.age" placeholder="Age" />
        <br />
        <input type="text" v-model="user.salary" placeholder="Salary" />
        <br />
        <input type="submit" name="submit" value="Submit" />
      </form>
    </div>
  </section>
</template>

<script>
import axios from "axios";

export default {
  name: "FormExample",
  // data
  data() {
    return {
      errors: [],
      errored: false,
      loading: false,
      user: {
        name: "",
        email: "",
        salary: null,
        age: null
      }
    };
  },
  methods: {
    onSubmit: function(e) {
      this.errors = [];

      if (!this.user.name) {
        this.errors.push({ id: 0, message: "Name required." });
      }
      if (!this.user.age) {
        this.errors.push({ id: 1, message: "Age required." });
      }
      if (!this.user.email) {
        this.errors.push({ id: 2, message: "Email required." });
      }

      if (this.errors.length === 0) {
        this.loading = true;
        // Send a POST request
        axios({
          method: "post",
          url: "http://dummy.restapiexample.com/api/v1/create",
          data: {
            name: this.user.name,
            salary: this.user.salary,
            age: this.user.age
          }
        })
          .catch(error => {
            // eslint-disable-next-line no-console
            console.error(error);
            this.errored = true;
          })
          .finally(() => (this.loading = false));
      }
      e.preventDefault();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.formexample {
  margin: 0 auto;
  width: 80%;
  input {
    margin: 5px;
    width: 50%;
    margin-right: 50%;
  }
  .title {
    width: 100%;
    height: 51px;
    text-align: center;
  }
  .error {
    color: red;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px red solid;
    width: 30%;
    padding: 10px;
    background-color: yellow;
  }
}
</style>
