<template>
  <div
    class="todo-items"
    v-bind:class="{
      'open-todo': todoItem.state,
      'closed-todo': !todoItem.state
    }"
    v-if="todoItem.title"
  >
    <h1>Title: {{ todoItem.title }}</h1>
    <p v-if="todoItem.createDate">Create Date: {{ todoItem.createDate }}</p>
    <p v-if="todoItem.state">Done at: {{ todoItem.doneDate }}</p>
    <input
      type="checkbox"
      id="checkbox"
      v-model="todoItem.state"
      @change="taskDone($event)"
    />
    <label for="checkbox" v-if="todoItem.state">Done</label>
    <label for="checkbox" v-else>Done?</label>
  </div>
</template>

<script>
export default {
  name: "TodoItems",

  // Props
  props: {
    todoItem: {
      type: Object,
      required: true,
      default() {
        return {};
      }
    }
  },

  // Methods
  methods: {
    taskDone() {
      this.todoItem.doneDate = new Date().toLocaleString();
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.todo-items {
  text-align: left;
  padding: 10px 18px;
  margin-bottom: 10px;
}

.open-todo {
  background-color: rgb(194, 235, 235);
  border: 1px solid #32585c7a;
}

.closed-todo {
  background-color: rgb(164, 245, 211);
  border: 1px solid #415f3f7a;
}
</style>
