<template>
  <div class="todos">
    <input
      id="todoInputfield"
      type="text"
      class="todo-input"
      placeholder="Next to do"
      v-model="todoTitle"
      @keyup.enter="createTodo"
    />
    <div v-for="todo in todos" :key="todo.id" class="todo-wrapper">
      <TodoItems :todoItem="todo" />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import TodoItems from "@/components/TodoItems.vue";

export default {
  name: "TodoList",
  components: {
    TodoItems
  },
  // data
  data() {
    return {
      todoTitle: ""
    };
  },
  computed: {
    todos() {
      return this.$store.getters.todos;
    }
  },
  // methods
  methods: {
    createTodo() {
      this.$store.commit("addTodo", {
        id: this.todos.length ? this.todos.length + 1 : 1,
        title: this.todoTitle,
        createDate: new Date().toLocaleString(),
        state: false
      });
      this.todoTitle = "";
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.todos {
  margin: 0 auto;
  width: 80%;
  .todo-input {
    width: 98.5%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.5%;
    font-size: 1em;
  }
  .todo-wrapper {
    display: block;
  }
}
</style>
