<template>
  <div v-bind:id="divName" class="app">
    <div id="nav">
      <router-link to="/" append>Home</router-link> |
      <router-link to="/done" append>Done</router-link> |
      <router-link to="/formview" append>Form Example</router-link> |
      <router-link to="/about" append>About</router-link>
    </div>
    <img alt="Vue logo" src="./assets/logo.png" class="logo" />
    <router-view />
  </div>
</template>

<script>
import * as LiferayHelbers from "./core/LiferayHelbers";

export default {
  name: "app",
  data() {
    return {
      divName: "app"
    };
  },
  mounted: function() {
    this.divName = LiferayHelbers.getDivTarget();
  },
  methods: {}
};
</script>

<style lang="scss">
.app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  .logo {
    width: 60px;
  }
  #nav {
    padding: 30px;
    a {
      font-weight: bold;
      color: #2c3e50;
      &.router-link-exact-active {
        color: #42b983;
      }
    }
  }
}
</style>
