<template>
  <div class="wrapper">
    <Button color="info" @click.native="pushButton">{{$t("message.hello")}}</Button>
    <hr>
    <p class="text-name">MyText: {{ myText }}</p>
  </div>
</template>

<script>
import Button from "./Button/Button.vue";
//import loggerMixin from '../mixins/loggerMixin';
export default {
  name: "MyWorld",
//  mixins: [loggerMixin],
  data() {
    return { numClicks: 0 , myText: ""}
  },
  methods: {
    pushButton() {
      this.numClicks += 1;
      console.log("numClicks=" + this.numClicks)
      this.myText="numClicks=" + this.numClicks
    }
  }
};
</script>
