.todos[data-v-26b7d43e]{margin:0 auto;width:80%}.todos .todo-input[data-v-26b7d43e]{width:98.5%;margin-top:10px;margin-bottom:10px;padding:.5%;font-size:1em}.todos .todo-wrapper[data-v-26b7d43e]{display:block}