<html>

<head>
  <title></title>
  <meta content="">
  <style></style>
</head>

<body>
  <user-card user-id="1"></user-card>
  <script src="<%= htmlWebpackPlugin.files.chunks.UserCard.entry %>" charset="utf-8"></script>

  <div>
    <span>outer div with button</span>
    <button class="card__details-btn">More Details</button>
  </div>
</body>

</html>