<div class="formexample">
    <h1 class="title">Form Example</h1>
    <form (ngSubmit)="onSubmit(exForm)" #exForm="ngForm">
        <input type="text" [(ngModel)]="user.name" name="username" #name="ngModel" placeholder="Username" required minlength="6" maxlength="12">
        <div *ngIf="name.invalid && (name.dirty || name.touched)">
            <p class="error" *ngIf="name.hasError('required')">
                Username is Required
            </p>
            <p class="error" *ngIf="name.hasError('minlength')">
                Username must have minimum 6 Chracters
            </p>
            <p class="error" *ngIf="name.hasError('maxlength')">
                Username must have maximum 12 Chracters
            </p>
        </div>
        <br/>
        <input type="email" [(ngModel)]="user.email" name="email" #email="ngModel" placeholder="E-Mail" required email>
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
            <p class="error" *ngIf="email.hasError('required')">
                E-Mail is Required
            </p>
            <p class="error" *ngIf="email.hasError('email')">
                Invalid E-Mail
            </p>
        </div>
        <br/>
        <input type="age" [(ngModel)]="user.age" name="age" #age="ngModel" placeholder="Age" required pattern="^[0-9]{1,3}">
        <div *ngIf="age.invalid && (age.dirty || age.touched)">
            <p class="error" *ngIf="age.hasError('required')">
                Age is Required
            </p>
            <p class="error" *ngIf="age.hasError('pattern')">
                Invalid Age
            </p>
        </div>
        <br/>
        <input type="submit" name="submit" value="Submit" [disabled]="exForm.invalid">
    </form>
</div>