.formexample {
    margin: 0 auto;
    width: 80%;
    input {
        margin: 5px;
        width: 50%;
        margin-right: 50%;
    }
    .title {
        width: 100%;
        height: 51px;
        text-align: center;
    }
    .error {
        color: red;
        margin-left: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px red solid;
        width: 30%;
        padding: 10px;
        background-color: yellow;
    }
}