.todo-items {
    text-align: left;
    padding: 10px 18px;
    margin-bottom: 10px;
}

.open-todo {
    background-color: rgb(194, 235, 235);
    border: 1px solid #32585c7a;
}

.closed-todo {
    background-color: rgb(164, 245, 211);
    border: 1px solid #415f3f7a;
}