<div class="todo-items" [ngClass]="{
      'open-todo': todoItem.state,
      'closed-todo': !todoItem.state
    }" *ngIf="todoItem.title">
    <h1>Title: {{ todoItem.title }}</h1>
    <p *ngIf="todoItem.createDate">Create Date: {{ todoItem.createDate }}</p>
    <p *ngIf="todoItem.state">Done at: {{ todoItem.doneDate }}</p>
    <input type="checkbox" id="checkbox" [(ngModel)]="todoItem.state" (change)="taskDone($event)" />
    <ng-container *ngIf="todoItem.state; then done; else notdone">
    </ng-container>
    <ng-template #done>
        <label for="checkbox">Done</label>
    </ng-template>
    <ng-template #notdone>
        <label for="checkbox">Done?</label>
    </ng-template>