<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Webpack & Babel Demonstration</title>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
  </head>
  <body>
    <main>
      <ul>
        <li> <a href="./pages/page1.html">ShadowDOM</a> </li>
        <li> <a href="./pages/page1.html">Build here your own samples</a> </li>
      </ul>
    </main>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>" charset="utf-8"></script>
  </body>
</html>
 
